<div id="container">
  <h1>Displays</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Connected</th>
      </tr>
    </thead>
    <tbody>
      <% @displays.each do |display| %>
        <td><%= link_to display.display_id, display %></td>
        <td><%= link_to display.name, display %></td>
        <td><%= display.connected %></td>
      <% end %>
    </tbody>
  </table>
</div>
