#setup {
  background-color: #f33;
  color: white;
  text-align: center;
  padding: 0.5em 0;

  p {
    margin-bottom: 0;
  }
}

.top-bar {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  z-index: 1000;
  display: flex;

  h1 {
    margin: 0;
    padding: 0;
  }

  .top-bar-location {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 1.5em;
    font-weight: bold;
  }

  .top-bar-time {
    position: absolute;
    bottom: 5%;
    right: 5%;
    font-size: 3em;
    font-weight: bold;
  }
}

.bottom-bar {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  height: 20%;
  z-index: 1000;
}

.content {
  background-color: green;

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  #content-image {
    width: 100%;
  }
}
