#setup {
  background-color: #f33;
  color: white;
  text-align: center;
  padding: 0.5em 0;

  p {
    margin-bottom: 0;
  }
}

.top-bar {
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  z-index: 1000;
}

.bottom-bar {
  background-color: red;
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  height: 20%;
  z-index: 1000;
}

.content {
  background-color: green;

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
