body {
  font-family: 'Raleway', sans-serif;
}

#setup {
  background-color: #f33;
  color: white;
  text-align: center;
  padding: 0.5em 0;

  p {
    margin-bottom: 0;
  }
}

.top-bar {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 180px;
  z-index: 1000;
  display: flex;

  img {
    width: 413px;
    height: 150px;
    padding-left: 28px;
    padding-top: 28px;
  }

  h1 {
    margin: 0;
    padding: 0;
  }

  .top-bar-location {
    position: absolute;
    top: 30px;
    right: 25px;
    font-size: 2.2em;
    font-weight: bold;
  }

  .top-bar-time {
    position: absolute;
    bottom: 30px;
    right: 25px;
    font-size: 3em;
    font-weight: bold;
  }
}

.bottom-bar {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  color: white;
  padding: 25px;
  font-size: 1.8em;
  transition: bottom 3s;

  &.hidden {
    bottom: -1000px;
  }

  h1 {
    font-weight: bold;
  }
}

.content {
  background-color: green;

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  #content-image {
    width: 100%;
  }
}
