.view-setup {
  background-color: black;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .config {
    text-align: center;
    h2 { margin-bottom: 0; }
    p { margin: 0; }
  }
}
