.view-stage {
  background-color: red;
  background-image: url('https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg');

  .news-item {
    h1 {
      margin: 0;
      font-size: 50px;
    }

    p {
      margin-top: 10px;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  .event {
    display: flex;
    margin-bottom: 0.25em;

    .event-start-time {
      font-weight: bold;
      padding-right: 0.5em;
    }

    .event-speaker {
      font-weight: bold;
      font-size: 0.8em;
    }
  }
}

