// If you change the transition times here, you also need to
// change the TransitionGroup timeouts in Toaster.js
.toaster-item {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  position: absolute;
  padding: 20px;
}

.toaster-item-top {
  &.enter {
    transform: translateY(-100%);
  }

  &.enter-active, &.enter-done {
    transform: translateY(0%);
    transition: transform 1s;
  }

  &.exit {
    transform: translateY(0%);
  }

  &.exit-active {
    transition: transform 1s;
    transform: translateY(-100%);
  }
}

.toaster-item-bottom {
  bottom: 0;

  &.enter {
    transform: translateY(100%);
  }

  &.enter-active, &.enter-done {
    transform: translateY(0%);
    transition: transform 1s;
  }

  &.exit {
    transform: translateY(0%);
  }

  &.exit-active {
    transition: transform 1s;
    transform: translateY(100%);
  }
}
